{% extends "base.html" %}
{% load static %}
{% block content %}
    <section class="max-w-7xl mx-auto">
        <div class="text-blue-100">
            <h1 class="mt-10 text-4xl text-blue-400">therightman</h1>
        </div>
        <div class="mt-10 flex text-blue-100">
            <div class="pr-10 w-4/6">
                <p class="mt-10 text-2xl">
                    I want to build your website
                <ul class="mt-10 text-2xl">
                    <li>💨 Fast</li>
                    <li>🤸‍♀️ Responsive</li>
                    <li>♿ Accessible</li>
                    <li>🔒 Secure</li>
                </ul>
                </p>
                <p class="mt-10 text-2xl">
                    list things that normal people want from a website
                    It will be a pleasure to work with you. I am a full stack developer with experience in Django, React, and other technologies.
                    We can work together to build a website that will make you proud.
                    Your website will be built with the latest technologies and will be optimized for search engines.
                    I will also provide you with a guide on how to maintain your website.
                    I am looking forward to working with you.
                </p>
            </div>
            <div class="pl-10 mx-auto w-2/6 text-slate-500 text-xl">
                <img src="{% static 'main/salvador.jpg' %}" alt="Salvador Alves" class="rounded-md mx-auto max-w-72">
                <p class="mt-5">Salvador Alves, i'm bla blfab ablab a blab ablba blabla bla ablab a4 years pythonb, fasdjango, wagtail </p>
            </div>
        </div>
    </section>
{% endblock %}